@use 'src/styles/constants/colors';

.menuWrapper {
  position: relative;
  bottom: 50px;
  width: 295px;

  .menuContainer {
    display: flex;
    justify-content: space-around;
    color: colors.$WHITE;

    &::after {
      position: absolute;
      content: 'ㅣ';
    }

    a {
      color: colors.$WHITE;
    }
  }
}
